abstract_singleton==1.0.1
agbenchmark==0.0.2
agent-protocol==1.0.2
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
astroid==3.3.5
asynctest==0.13.0
atproto==0.0.55
attrs==23.2.0
auto_gpt_plugin_template @ git+https://github.com/Significant-Gravitas/Auto-GPT-Plugin-Template@7612a14c629dc64ad870eee4d05850d60e1dd9ce
autoflake==2.3.1
autogpt==0.0.1.dev0
babel==2.16.0
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
black==24.10.0
blinker==1.7.0
blis==0.7.11
branca==0.7.0
bs4==0.0.2
build==1.2.2.post1
cachetools==5.5.0
catalogue==2.0.10
certifi==2023.7.22
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cloup==3.0.5
colorama==0.4.6
confection==0.1.5
contourpy==1.2.0
coverage==7.6.8
cryptography==43.0.3
cssselect==1.2.0
cycler==0.12.1
cymem==2.0.10
Cython==3.0.11
decorator==5.1.1
dill==0.3.9
distlib==0.3.9
distro==1.8.0
dnspython==2.7.0
docker==7.1.0
docutils==0.21.2
duckduckgo-search==3.0.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
et-xmlfile==1.1.0
execnet==2.1.1
fastapi==0.100.1
fastjsonschema==2.19.1
filelock==3.16.1
flake8==7.1.1
Flask==3.0.0
folium==0.15.0
fonttools==4.44.0
frozenlist==1.4.1
fsspec==2024.10.0
ftfy==6.3.1
future-fstrings==1.2.0
geographiclib==2.0
geopy==2.4.0
ghp-import==2.1.0
gitdb==4.0.11
GitPython==3.1.31
glcontext==3.0.0
google-api-core==2.23.0
google-api-python-client==2.154.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.66.0
gTTS==2.3.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.27.2
hypercorn==0.14.4
hyperframe==6.0.1
identify==2.6.3
idna==3.4
imageio==2.33.0
importlib_metadata==8.5.0
inflection==0.5.1
iniconfig==2.0.0
isort==5.13.2
isosurfaces==0.1.2
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.2
jiter==0.8.0
joblib==1.3.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
kaleido==0.2.1
keyring==25.5.0
kiwisolver==1.4.5
langcodes==3.5.0
language_data==1.3.0
lazy_loader==0.3
libipld==3.0.0
loguru==0.7.2
lxml==5.3.0
manim==0.18.1
mapbox_earcut==1.0.2
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-git-revision-date-localized-plugin==1.3.0
mkdocs-material==9.5.46
mkdocs-material-extensions==1.3.1
mkdocs-table-reader-plugin==3.1.0
moderngl==5.11.1
moderngl-window==2.4.6
more-itertools==10.5.0
mpi4py==3.1.6
mpmath==1.3.0
multidict==6.0.5
multipledispatch==1.0.0
murmurhash==1.0.11
mypy==1.13.0
mypy-extensions==1.0.0
nbformat==5.10.4
networkx==3.2.1
newsapi-python==0.2.7
nh3==0.2.18
nodeenv==1.9.1
oauthlib==3.2.2
openai==0.27.8
openapi-python-client==0.13.4
openpyxl==3.1.2
orjson==3.8.10
outcome==1.3.0.post0
packaging==23.2
paginate==0.5.7
pandas==2.1.3
pathlib_abc==0.1.1
pathspec==0.12.1
pathy==0.11.0
patsy==0.5.3
pexpect==4.9.0
pillow==11.0.0
pinecone-client==2.2.1
pip-tools==7.4.1
pkginfo==1.10.0
platformdirs==4.2.2
playsound==1.2.2
plotly==5.18.0
pluggy==1.5.0
pre_commit==4.0.1
preshed==3.0.9
priority==2.0.0
prompt_toolkit==3.0.48
proto-plus==1.25.0
psutil==5.9.8
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pycparser==2.22
pydantic==1.10.5
pydantic_core==2.27.1
pydub==0.25.1
pyflakes==3.2.0
pyglet==2.0.18
Pygments==2.18.0
pylatexenc==2.10
pylint==3.3.1
pymdown-extensions==10.12
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyOpenSSL==24.3.0
pyparsing==3.1.1
PyPDF2==3.0.1
pyperclip==1.9.0
pyproject_hooks==1.2.0
pyrr==0.10.3
PySocks==1.7.1
pytest==7.4.4
pytest-asyncio==0.23.8
pytest-benchmark==5.0.1
pytest-cov==6.0.0
pytest-depends==1.0.1
pytest-integration==0.2.3
pytest-mock==3.14.0
pytest-recording==0.13.2
pytest-xdist==3.6.1
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==0.21.0
python-lorem==1.3.0.post3
python-multipart==0.0.6
python-telegram-bot==21.7
pytube==15.0.0
pytz==2023.3.post1
PyYAML==6.0
pyyaml_env_tag==0.1
readability-lxml==0.8.1
readme_renderer==44.0
redis==5.2.0
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-mock==1.12.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.2
rpds-py==0.18.1
rsa==4.9
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.3
screeninfo==0.8.1
seaborn==0.13.0
selenium==4.1.4
shellingham==1.5.4
six==1.16.0
skia-pathops==0.8.0.post1
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.5.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
srt==3.5.3
starlette==0.27.0
statsmodels==0.14.0
svgelements==1.9.6
sympy==1.13.1
tabulate==0.9.0
tenacity==8.2.3
thinc==8.1.12
threadpoolctl==3.2.0
tifffile==2023.9.26
tiktoken==0.3.3
tomlkit==0.13.2
torch==2.5.1
torchvision==0.20.1
tqdm==4.66.4
traitlets==5.13.0
trio==0.27.0
trio-websocket==0.11.1
tweepy==4.13.0
twine==5.1.1
typer==0.7.0
types-beautifulsoup4==4.12.0.20241020
types-colorama==0.4.15.20240311
types-html5lib==1.1.11.20241018
types-Markdown==3.7.0.20240822
types-Pillow==10.2.0.20240822
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing_extensions==4.12.2
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.20
urllib3-secure-extra==0.1.0
uvicorn==0.32.1
validators==0.34.0
vcrpy @ git+https://github.com/Significant-Gravitas/vcrpy.git@bfd15f9d06a516138b673cb481547f3352d9cc43
virtualenv==20.28.0
wasabi==1.1.3
watchdog==5.0.3
wcwidth==0.2.13
webdriver-manager==4.0.2
websockets==13.1
Werkzeug==3.0.1
wolframalpha==5.0.0
wrapt==1.17.0
wsproto==1.2.0
xmltodict==0.14.2
yarl==1.9.4
zipp==3.21.0